
@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}
h1{
    font-family: "SEGA LOGO FONT", serif;
    font-weight: 200;
    color: aquamarine;
}

.particles{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.center{
    display: flex;
    justify-content: center;
}

.blur{
    background: radial-gradient(circle ,rgb(0, 207, 207)  0%,  rgb(14, 62, 169) 180%);
}