body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to left, rgb(14, 62, 169) 0%, rgb(0, 207, 207) 100%);
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input.error {

    border-color: #ff0000;
}

.input-feedback {
    color: rgb(176, 66, 66);
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 20px;
}
